<!-- Unified Filters + Pagination Toolbar -->
<div class="transactions-toolbar">
	<div class="filters">
		<button class="button is-light" :class="{
            'is-outlined': !filters.type && !filters.category && !filters.description,
            'is-light': $store.app.isDarkTheme,
            'is-dark': !$store.app.isDarkTheme
        }"
		        @click="clearFilters"
		        :disabled="(!filters.type && !filters.category && !filters.description) || $store.transactions.isTransactionsEmpty()">
			Clear
		</button>

		<div class="field">
			<div class="control">
				<div class="select">
					<select x-model.number="pageSize" :disabled="$store.transactions.isTransactionsEmpty()">
						<option value="5">5 / page</option>
						<option value="10">10 / page</option>
						<option value="20">20 / page</option>
					</select>
				</div>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<div class="select">
					<select x-model="filters.type" :disabled="$store.transactions.isTransactionsEmpty()">
						<option value="">All types</option>
						<option value="income">Income</option>
						<option value="expense">Expense</option>
					</select>
				</div>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<div class="select">
					<select x-model="filters.category" :disabled="$store.transactions.isTransactionsEmpty()">
						<option value="">All categories</option>
						<template x-for="c in filteredCategories" :key="c.id">
							<option :value="String(c.id)" x-text="c.name"></option>
						</template>
					</select>
				</div>
			</div>
		</div>

		<!--				<div class="field has-addons is-rounded">-->
		<div class="field is-rounded">
			<!--			<p class="control">-->
			<!--				<span class="button is-static">-->
			<!--					<span class="icon"><i class="fas fa-search" aria-hidden="true"></i></span>-->
			<!--				</span>-->
			<!--			</p>-->
			<p class="control is-expanded">
				<input  :disabled="$store.transactions.isTransactionsEmpty()"
						class="input"
						type="search"
						placeholder="Search description"
						x-model.debounce.250ms="filters.description"/>
			</p>
		</div>

	</div>

	<div class="pagination-controls">
		<nav class="pagination is-rounded" role="navigation" aria-label="pagination">
			<button class="pagination-previous button"
			        :disabled="currentPage <= 1"
			        @click="prevPage">
				Prev
			</button>
			<button class="pagination-next button"
			        :disabled="currentPage >= totalPages"
			        @click="nextPage">
				Next
			</button>
			<ul class="pagination-list" style="margin-right: 0.3rem; margin-left: 0.3rem;">
				<li>
					<span class="tag is-light" x-text="`Page ${currentPage} / ${totalPages}`"></span>
				</li>
			</ul>
		</nav>
	</div>
</div>