<dialog x-data
        x-show="$store.app.showCategoryModal"
        x-transition
        :open="$store.app.showCategoryModal"
        @click.self="$store.app.closeCategoryModal()"
        @keydown.escape.window="$store.app.closeCategoryModal()"
        class="modal">

	<article class="modal-content">
		<header>
			<button class="close-button" aria-label="Close" rel="prev" @click="close()"></button>
			<p style="padding: 0.5rem 0 0.5rem 0;font-weight: bold">New Category</p>
		</header>

		<form id="category-form" @submit.prevent="addCategory" style="margin-bottom: 0;">
			<label>
				Name
				<input type="text" x-model="categoryName" required>
			</label>

			<label>
				Color
				<input type="color" x-model="categoryColor" value="#888888">
			</label>

			<fieldset style="display:flex; flex-direction: row; width: 100%; align-items: center; justify-content: center;">
				<legend>Type</legend>
				<label>
					<input type="radio" name="catType" x-model="categoryType" value="income">
					Income
				</label>
				<label>
					<input type="radio" name="catType" x-model="categoryType" value="expense">
					Expense
				</label>
			</fieldset>
		</form>
		<footer class="modal-actions">
				<button type="submit" form="category-form" style="max-width: 25%;">Save</button>
				<button type="button" form="category-form" style="min-width: 25%;" class="secondary" @click="close()">Cancel</button>
			</footer>
	</article>
</dialog>
