<dialog x-data
        x-show="$store.app.showCategoryModal"
        x-transition
        :open="$store.app.showCategoryModal"
        @click.self="$store.app.closeCategoryModal()"
        @keydown.escape.window="$store.app.closeCategoryModal()"
        class="modal">

	<article class="modal-content">
		<h3 style="padding: 0.5rem 0 0.5rem 0;">Add New Category</h3>

		<form @submit.prevent="addCategory" style="margin-bottom: 0;">
			<label>
				Name
				<input type="text" x-model="categoryName" required>
			</label>

			<label>
				Color
				<input type="color" x-model="categoryColor" value="#888888">
			</label>

			<fieldset>
				<legend>Type</legend>
				<label>
					<input type="radio" name="catType" x-model="categoryType" value="income">
					Income
				</label>
				<label>
					<input type="radio" name="catType" x-model="categoryType" value="expense">
					Expense
				</label>
			</fieldset>

			<footer class="modal-actions">
				<button type="submit" style="max-width: 25%;">Save</button>
				<button type="button" style="min-width: 25%;" class="secondary" @click="close()">Cancel</button>
			</footer>
		</form>
	</article>
</dialog>
