{% extends 'core/base.html' %}

{% block content %}
    {% if validlink %}
        <p>Wprowadź (i potwierdź) twoje nowe hasło.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nowe hasło:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Potwierdź hasło:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Nie udało się zresetować hasła.</h1>
        <p>Nieprawidłowy link resetowania hasła, prawdopodobnie został już użyty. Poproś o nowy link resetowania hasła.</p>
    {% endif %}
{% endblock %}