{% extends 'core/base.html' %}

{% block content %}
<div id="password-reset-form-container">
    <form action="" method="post" class="register-container">
        {% csrf_token %}
        {% if form.email.errors %}
        {{ form.email.errors }}
        {% endif %}
        <div style="align-self: flex-start">E-mail:</div>
        <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-default" value="Zresetuj hasło" style="width: 100%;padding-top: 8px;">
    </form>
</div>
{% endblock %}