<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">

</head>
<body>

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item has-text-weight-semibold" href="{% url 'dashboard' %}">
				FinanceApp
			</a>

			<!-- Mobile burger menu -->
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
			   data-target="main-navbar" @click="open = !open"
			   :class="{ 'is-active': open }" x-data="{ open: false }">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="main-navbar" class="navbar-menu" :class="{ 'is-active': open }" x-data="{ open: false }">
			<div class="navbar-start">
				<a class="navbar-item is-bold" href="{% url 'dashboard' %}">Dashboard</a>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<span>MasmiX</span>
				</div>
				<div class="navbar-item">
					<div class="buttons">
						<a class="button is-light is-small" href="{% url 'login' %}">Login</a>
						<a class="button is-primary is-small" href="{% url 'register' %}">Register</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<section class="section">
	<div class="container">
		<h1 class="title">
			Dashboard
		</h1>
		<h2 class="subtitle">
			Your finances in one place
		</h2>
	</div>
</section>
	<style>
		:root {
--section-padding: 0.7rem;
}
	</style>
</body>
</html>