{% load static %}

<!--<!DOCTYPE html>-->
<html lang="en" x-data :data-theme="$store.app.isDarkTheme ? 'dark' : 'light'">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Finance Manager{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'app/css/vendor/bulma.min.css' %}">
	<link rel="stylesheet" href="{% static 'app/css/style.css' %}">

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	{% block extra_head %}{% endblock %}
</head>

<body>
<nav class="navbar is-transparent" role="navigation" aria-label="main navigation" x-data="{ open: false }">
	<div class="container is-max-desktop">
		<div class="navbar-brand">
			<a class="navbar-item has-text-weight-semibold" href="{% url 'dashboard' %}"
			   @click="open = false">Dashboard</a>
			<!-- Mobile burger menu -->
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
			   :class="{ 'is-active': open }"
			   @click="open = !open">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="main-navbar" class="navbar-menu" :class="{ 'is-active': open }">
			<div class="navbar-start">
				<!--				<a class="navbar-item" href="#">Transactions</a>-->
				<!--				<a class="navbar-item" href="#">Obligations</a>-->
				<!--				<a class="navbar-item" href="#">Crypto</a>-->
			</div>

			<div class="navbar-end" style="gap:0.5rem;">
				{% if user.is_authenticated %}
				<!-- Theme toggle using store helper -->
				<a
						class="navbar-item"
						@click="$store.app.toggleTheme();open = false;"
						title="Toggle theme"
						aria-label="Toggle theme" style="display:flex; justify-content:center;"
						:style="`display:flex; justify-content:center;width: ${$store.app.isMobile ? '100%' : 'auto'}`"
				>
					<!-- Moon -->
					<template x-if="!$store.app.isDarkTheme">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
						     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						     class="feather feather-moon"
							 style="transform:translateY(1px) scale(0.8);">
							<path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/>
						</svg>
					</template>

					<!-- Sun -->
					<template x-if="$store.app.isDarkTheme">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
						     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						     class="feather feather-sun"
						     style="transform:translateY(2px) scale(0.8);">
							<circle cx="12" cy="12" r="5"/>
							<line x1="12" y1="1" x2="12" y2="3"/>
							<line x1="12" y1="21" x2="12" y2="23"/>
							<line x1="4.22" y1="4.22" x2="5.64" y2="5.64"/>
							<line x1="18.36" y1="18.36" x2="19.78" y2="19.78"/>
							<line x1="1" y1="12" x2="3" y2="12"/>
							<line x1="21" y1="12" x2="23" y2="12"/>
							<line x1="4.22" y1="19.78" x2="5.64" y2="18.36"/>
							<line x1="18.36" y1="5.64" x2="19.78" y2="4.22"/>
						</svg>
					</template>
				</a>

				<a x-data @click="$refs.logoutForm.submit();" class="navbar-item" title="Logout" aria-label="Logout"
				:style="`display:flex; justify-content:center;width: ${$store.app.isMobile ? '100%' : 'auto'}`">
					<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" stroke="currentColor"
					     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
					     class="feather feather-log-out"
					style="transform: translateY(1px) scale(0.9);">
						<path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
						<polyline points="16 17 21 12 16 7"/>
						<line x1="21" y1="12" x2="9" y2="12"/>
					</svg>
				</a>

				<!-- Hidden logout form -->
				<form x-ref="logoutForm" method="POST" action="{% url 'logout_view' %}" style="display: none;">
					{% csrf_token %}
				</form>
				{% else %}
				<div class="navbar-item">
					<div class="buttons" style="display: flex; justify-content: center !important; width: 100%;">
						<a class="button " @click="$store.app.toggleTheme(); open = false;">Theme</a>
						<a class="button is-light" href="{% url 'login' %}">Login</a>
						<a class="button is-primary" href="{% url 'register' %}">Register</a>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</nav>

{% block content %}{% endblock %}

<script>
    window.csrf_token = "{{ csrf_token }}";
    window.transactionsApiUrl = "{% url 'transaction-list' %}";
</script>
<!-- Load Alpine first -->
<script src="{% static 'app/js/vendor/alpine.persist.min.js' %}"></script>
<script src="{% static 'app/js/vendor/alpine.focus.min.js' %}" defer data-turbo-eval="false"></script>
<script src="{% static 'app/js/vendor/alpine.min.js' %}" defer></script>
<script src="{% static 'app/js/utils.js' %}"></script>


<!-- Load stores -->


<script src="{% static 'app/js/stores/store.js' %}"></script>
<script src="{% static 'app/js/stores/transactions.js' %}"></script>
<script src="{% static 'app/js/stores/settings.js' %}"></script>

<script src="{% static 'app/js/components/category_component.js' %}"></script>
<script src="{% static 'app/js/components/transaction_component.js' %}"></script>
<script src="{% static 'app/js/components/transaction_modal_component.js' %}"></script>
<script src="{% static 'app/js/components/chart_component.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
