{% load static %}

<!--<!DOCTYPE html>-->
<html lang="en" x-data :data-theme="$store.app.isDarkTheme ? 'dark' : 'light'">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Finance Manager{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'app/css/vendor/bulma.min.css' %}">
	<link rel="stylesheet" href="{% static 'app/css/style.css' %}">

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	{% block extra_head %}{% endblock %}
</head>

<body>
<nav class="navbar is-transparent" role="navigation" aria-label="main navigation" x-data="{ open: false }">
	<div class="container is-max-desktop">
		<div class="navbar-brand">
			<a class="navbar-item has-text-weight-semibold" href="{% url 'dashboard' %}" @click="open = false">Dashboard</a>
			<!-- Mobile burger menu -->
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
			   :class="{ 'is-active': open }"
			   @click="open = !open">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="main-navbar" class="navbar-menu" :class="{ 'is-active': open }">
			<div class="navbar-start">
<!--				<a class="navbar-item" href="#">Transactions</a>-->
<!--				<a class="navbar-item" href="#">Obligations</a>-->
<!--				<a class="navbar-item" href="#">Crypto</a>-->
			</div>

			<div class="navbar-end">
				{% if user.is_authenticated %}
				<!-- Theme toggle using store helper -->
				<a class="navbar-item" @click="$store.app.toggleTheme(); open = false;">Theme</a>

				<a x-data @click="$refs.logoutForm.submit(); open = false" class="navbar-item is-light is-outlined">
					Logout
				</a>

				<!-- Hidden logout form -->
				<form x-ref="logoutForm" method="POST" action="{% url 'logout_view' %}" style="display: none;">
					{% csrf_token %}
				</form>
				{% else %}
				<div class="navbar-item">
					<div class="buttons" style="display: flex; justify-content: center !important; width: 100%;">
						<a class="button " @click="$store.app.toggleTheme(); open = false;">Theme</a>
						<a class="button is-light" href="{% url 'login' %}">Login</a>
						<a class="button is-primary" href="{% url 'register' %}">Register</a>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</nav>

{% block content %}{% endblock %}

<script>
    window.csrf_token = "{{ csrf_token }}";
    window.transactionsApiUrl = "{% url 'transaction-list' %}";
</script>
<!-- Load Alpine first -->
<script src="{% static 'app/js/vendor/alpine.persist.min.js' %}"></script>
<script src="{% static 'app/js/vendor/alpine.focus.min.js' %}" defer data-turbo-eval="false"></script>
<script src="{% static 'app/js/vendor/alpine.min.js' %}" defer></script>
<script src="{% static 'app/js/utils.js' %}"></script>


<!-- Load stores -->


<script src="{% static 'app/js/stores/store.js' %}" ></script>
<script src="{% static 'app/js/stores/transactions.js' %}"></script>

<script src="{% static 'app/js/components/category_component.js' %}" ></script>
<script src="{% static 'app/js/components/transaction_component.js' %}" ></script>
<script src="{% static 'app/js/components/transaction_modal_component.js' %}" ></script>
<script src="{% static 'app/js/components/chart_component.js' %}" ></script>
{% block extra_js %}{% endblock %}
</body>
</html>
