{% extends "app/base.html" %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div>
	<div x-data="transactionApp()">
		{% include "app/modals/add_transaction.html" %}

		<div class="transactions-header">
			<!-- Filters for mobile only -->
			<template x-if="$store.app.isMobile" x-cloak>
				{% include "app/components/dashboard/transaction_filters.html" %}
			</template>

			<!-- Add Transaction Button -->
			<button class="add-transaction-button" @click="showTransactionModal = true">Add Transaction</button>

			<!-- Current Balance on the right -->
			<div class="balance-container">
				<div class="balance-title" style="font-weight: bold;">
					Balance
				</div>
				<div
					:style="`color: ${balance < 0 ? '#e74c3c' : '#2ecc71'}`">
				<span class="balance-value"
				      x-text="balance.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) + '&nbsp;PLN'"></span>
				</div>
			</div>

		</div>

		{% include "app/components/dashboard/transaction_table.html" %}

		<!-- Chart -->
		<div x-data="chartApp()" style="max-width: 300px; margin: 2rem auto;">
			<canvas id="summaryChart"></canvas>
		</div>
	</div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    window.csrf_token = "{{ csrf_token }}";
    window.initialTransactions = {{ transactions_json | safe }};
    window.initialCategories = {{ categories_json | safe }};
    window.transactionsApiUrl = "{% url 'transaction-list' %}";
    console.log("initialCategories:", window.initialCategories)
</script>
{% endblock %}
