/* Alpine.js cloak helper */
[x-cloak] {
	display: none !important;
}

/* Root color palette */
:root {
	--bulma-primary-h: 210deg;
	--bulma-primary-s: 85%;
	--bulma-primary-l: 45%;
	--bulma-success-h: 160deg;
	--bulma-success-s: 50%;
	--bulma-success-l: 42%;
	--bulma-danger-h: 355deg;
	--bulma-danger-s: 65%;
	--bulma-danger-l: 55%;
	--bulma-info-h: 195deg;
	--bulma-info-s: 70%;
	--bulma-info-l: 50%;
	--bulma-scheme-h: 210;
}

/* Buttons */
.button.is-primary {
	color: white;
}

/* Navbar */
.navbar.is-primary {
	background-color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
	color: white;
}

.navbar.is-primary .navbar-burger {
	color: white;
}

.navbar.is-primary .navbar-burger:hover {
	color: hsl(var(--bulma-scheme-h), 20%, 90%);
	background-color: transparent;
}

.navbar.is-primary .navbar-item,
.navbar.is-primary .navbar-link {
	color: white;
}

.navbar.is-primary .navbar-item:hover,
.navbar.is-primary .navbar-link:hover {
	color: white;
}

/* Fieldset styles */
fieldset legend {
	font-weight: 600;
	margin-bottom: 0.5rem;
}

fieldset label {
	margin-right: 1rem;
	display: inline-flex;
	align-items: center;
	gap: 0.3rem;
}

/* Pagination */
div.pagination button[disabled] {
	font-weight: bold;
	background-color: #eee;
	cursor: default;
}


/* Modal */
.modal-content { max-width: 350px; }

.modal-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: 1rem 1rem;
}

.modal-actions button { margin-bottom: 0; }

.close-button {
	user-select: none;
}

.close-button:focus { outline: none; }


